{% extends "base.html" %}
{% load tags %}

{% block title %}
    Доставка | {{ dish.title }}
{% endblock %}

{% block content %}
<a href="/{{ dish.id_group.id_restaurant.slug }}"><button type="button" class="btn btn-outline-primary me-2">Вернуться к ресторану "{{ dish.id_group.id_restaurant.title }}"</button></a>
<div class="row border-bottom my-3">
    <div class="col-4 text-center">
        <img src="{% if dish.pic %}{{ dish.pic.url }}{% else %}media/no_photo.jpg{% endif %}" alt="Фото {{ dish.title }}" height="300">
    </div>
    <div class="col-8">
        <h2>{{ dish.title }}</h2>
        <h3>{{ dish.price }} ₽</h3>
        <p class="py-1">{{ dish.info }}</p>
    </div>
</div>
{% if request.user.is_authenticated %}
    <form class="row pb-5" action="{% url 'comment_add' dish.id %}" method="post" enctype="multipart/form-data">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 class="py-2">Добавить комментарий к блюду:</h3>
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Текст комментария</label>
                <textarea name="text" class="form-control" id="text" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Прикреплённый файл</label>
                <input class="form-control" type="file" id="file" name="file">
              </div>
            <button type="submit" class="btn btn-primary w-100 my-3">Опубликовать</button>
        </div>
        {% csrf_token %}
    </form>
{% else %}
    <h3 class="py-2">Чтобы комментировать, войдите в аккаунт</h3>
{% endif %}
{% if comments %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h3>Комментарии:</h3>
        {% for comment in comments %}
            <div class="border border-2 m-2 p-3">
                <h6>Автор: {{ comment.id_user.username }}</h6>
                <h6>Дата: {{ comment.updated_at|date:"d.m.y H:i" }}</h6>
                <h4>{{ comment.title }}</h4>
                <p>{{ comment.text }}</p>
                {% if comment.file %}
                    <p>Приложенный файл:<br><a href="{{ comment.file.url }}">{{ comment.file.name }}</a></p>
                {% endif %}
                {% if comment.id_user == request.user %}
                <div class="row">
                    <div class="col-6 p-2">
                        <a href="{% url 'comment_edit' comment.id %}" class="btn btn-sm btn-warning w-100">Редактировать</a>
                    </div>
                    <form class="col-6 p-2" action="{% url 'comment_delete' comment.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger w-100">Удалить</button>
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <h4 class="text-center py-5">Комментариев нет...</h4>
{% endif %}
{% endblock %}